<p id="notice"><%= notice %></p>

<h1>Listing Conferences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Locationname</th>
      <th>Locationstreet</th>
      <th>Locationnumber</th>
      <th>Locationcity</th>
      <th>Locationzip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.name %></td>
        <td><%= conference.date %></td>
        <td><%= conference.locationname %></td>
        <td><%= conference.locationstreet %></td>
        <td><%= conference.locationnumber %></td>
        <td><%= conference.locationcity %></td>
        <td><%= conference.locationzip %></td>
        <td><%= link_to 'Info', conference %></td>
        <td><%= link_to 'Edit Info', edit_conference_path(conference) %></td>
        <td><%= link_to 'Registrations', conference_registrants_path(conference) %></td>
        <td><%= link_to 'Add Registrations', new_conference_registrant_path(conference) %></td>
        <td><%= link_to 'Print Badges', "/conferences/" + conference.id.to_s + "/registrants/actions/badges" %></td>
        <td><%= link_to 'Schedule Sessions', conference_sessions_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
