<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conference.name %>
</p>

<p>
  <strong>Date:</strong>
  <%# pretty print the date #%>
  <%= Date::MONTHNAMES[@conference.date.month] %> <%= @conference.date.day %>, <%= @conference.date.year %>
</p>

<p>
  <strong>Location:</strong>
  <div><%= @conference.locationname %>
       <div><%= @conference.locationnumber %>, <%= @conference.locationstreet %></div>
       <div><%= @conference.locationcity %> IL, <%= @conference.locationzip %></div>
  </div>
</p>

<%= link_to 'Edit', edit_conference_path(@conference) %> |
<%= link_to 'Back', conferences_path %>
