<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Session Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label "Abstract" %><br>
    <%= f.text_field :abstract %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
